.contactdiv_one {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);

  background: -webkit-linear-gradient(90deg, #282828 10%, #404040 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #282828 10%, #404040 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #282828 10%, #404040 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #282828 10%, #404040 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #282828 10%, #404040 90%); /* W3C */ 
}
.contactdiv_two {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);

  background: -webkit-linear-gradient(90deg, #404040 10%, #282828 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #404040 10%, #282828 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #404040 10%, #282828 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #404040 10%, #282828 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #404040 10%, #282828 90%); /* W3C */ 
}

.contactdiv_three {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);

  background: -webkit-linear-gradient(90deg, #282828 10%, #404040 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #282828 10%, #404040 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #282828 10%, #404040 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #282828 10%, #404040 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #282828 10%, #404040 90%); /* W3C */  
}

#aboutownercolumn{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#aboutownercolumn:hover, #aboutownercolumn:focus, #aboutownercolumn:active {
  -webkit-transform: translateY(8px);
  transform: translateY(15px);
}

.listmainitem {
      padding: .75em;
      background: linear-gradient(to right, #5c5454, #422929);
      background-repeat: no-repeat;
      background-size: 0 100%;
      transition: background-size 1s 0s;
    }
    
    .listmainitem:hover {
      background-size: 100% 100%;
      
    }

   

@-webkit-keyframes contactinfo {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes contactinfo {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.contactinfo:hover
{
    -webkit-animation: contactinfo 1s ease;
    animation: contactinfo 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.accessiblebutton1 {
      background-color: #595e61 !important;
      background: linear-gradient(to right, #757778, #96a2a8);
      background-repeat: no-repeat;
      background-size: 0 100%;
      transition: background-size 1s 0s;
    }
    
    .accessiblebutton1:hover {
      background-size: 100% 100%;
    }

/* Curl Top Right */
#firstarticle {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
#firstarticle:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  
  /* IE9 */
  background: linear-gradient(225deg, #424242 45%, #aaaaaa 50%, #cccccc 56%, #424242 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
#firstarticle:hover:before, .firstarticle:focus:before, .firstarticle:active:before {
  width: 25px;
  height: 25px;
}

/* Curl Top Left */
#secondarticle {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
#secondarticle:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  
  /* IE9 */
  background: linear-gradient(135deg, #424242 45%, #aaaaaa 50%, #cccccc 56%, #424242 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
#secondarticle:hover:before, #secondarticle:focus:before, #secondarticle:active:before {
  width: 25px;
  height: 25px;
}

/* Bubble Top */
.readmorebtn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.readmorebtn:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #7b2a11 transparent;
}
.readmorebtn:hover:before, .readmorebtn:focus:before, .readmorebtn:active:before {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}



  .modalcustom{
      background-color: transparent !important;
      border: none !important;
  }




@media screen and (min-width: 1300px) {
  .modal.screenmodalex .modal-dialog {
    
    position:relative;
    top:50%;
    left:60%;
    margin:0;
  }
}

.livelabel-container{
  position:fixed;
  bottom:48px;
  right:105px;
  display:table;
  visibility: hidden;
  z-index: 2;
}

.livelabel-text{
  color:#FFF;
  /*background:rgba(51,51,51,0.5);*/
  display:table-cell;
  vertical-align:middle;
  padding:10px;
  border-radius:3px;
  z-index: 1;
  background-color: #06C;
}

.livelabel-arrow{
  display:table-cell;
  vertical-align:middle;
  color:#06C;
  /*opacity:0.5;*/
  margin-top: 15px;
}

.livefloat{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#06C;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

.livefloaticon{
  font-size:24px;
  margin-top:18px;
}

a.livefloat + div.livelabel-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
  z-index: 2;
}

a.livefloat:hover + div.livelabel-container{
  visibility: visible;
  opacity: 1;
  z-index: 1;
  
}
.overtop{
  z-index: 99999 !important;
}
.newcarousel{
  z-index: 0;
}