.homepage{
    min-height: calc(90vh - 40px) ;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.searchform {
    background-color: #706d6c;
    color: #1c0102 !important;
    outline: none;
    border: none;
}
.searchformgroup {
    background-color: #706d6c;
    color: #1c0102;
    outline: none;
    border: none;
    cursor: pointer;
}
.searchform:focus {
    background-color: #706d6c;
    color: #1c0102;
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footerrow {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #2b1511, #29120e) repeat scroll 0% 0%;
}

.footersection1{
    border-bottom: 1px solid #301611;
}
.adminpage{
    background-color: #211f1f;
}
.nolink{
    text-decoration: none !important;
}

.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.md-whiteframe-2dp {
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12); }

#accessibilityrow {
    border-bottom: 1px solid #40190f;
    background-color: #582212;
    color: #ffcdd2;
}

.mainlogo {
    height: 50px;
    width: 75px;
}
#logorow{
    
    border-bottom: 1px solid #40190f;
    background-color: #431a10;
    color: #ffcdd2;
}
@media screen and (max-width: 768px) {
  #logorow {
    border-bottom: 1px solid #33140c;
    background-color: #431a10;
    color: #ffcdd2;
  }
  #titlecolumn{
    text-align: center;
  }
}
#headerbuttonrow{
    background-color: #431a10;
    color: #ffcdd2;
}

.accessiblebutton1 {
    background-color: #5a656e;
    color: #fff;
}

.accessiblebutton2 {
    background-color: #5a656e;
    color: #000;
}

.accessiblebutton3 {
    background-color: #5a656e;
    color: #fff;
}

.headerbutton1 {
    background-color: #383b3d;
    color: #fff;
}
.headerbutton1:hover {
    background-color: #7b2a11;
    color: #fcd0cc;
}
.webmainmenu{
    background-color: #2b1511;
    color: #ffcdd2;
}

@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end{ right:0; left: auto;  }
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}
.dropdown-menu {
    background-color: #431a10;
    color: #ffcdd2;
    padding: 10px;
   /* margin-top: 5px !important;*/
}

#shortalert{
    background-color: #141414;
    color: #000;
}
#bannercolumn{
     background-color: #141414;
     filter: grayscale(1);
    --webkit-filter: grayscale(1);
}
#longalertcolumn{
    background-color: #141414;
    color: #d7d9db;
}
.graycolumn{
    background-color: #211f1f;
    color: #d7d9db;
}
.authorimage{
    height: 200px;
    width: 175px;
    filter: grayscale(1);
    --webkit-filter: grayscale(1);
}
.authorimage:hover {
    height: 200px;
    width: 175px;
    opacity: 0.7;
}
.readmorebtn {
    background-color: #7b2a11;
    color: #fff;
}
#aboutownercolumn{
    color: #d7d9db;
}
.readmorebtn:hover {
    
    color: #fff;
}

.previewcard {
    height: 250px;
    filter: grayscale(1);
    --webkit-filter: grayscale(1);
}
.previewcard:hover {
    transform: scale(0.95);
}


.previewcardbody {
    background-color: #232B32;
    color: #d7d9db;
    opacity: 0.8
}

.previewcardbody:hover {
    background-color: #211f1f;
    color: #d7d9db;
    z-index: 10;
    opacity: 1;
}
.listheadmain{
    background-color: #3e294f;
    color: #fff;
}
.lisitemaction{
    text-align: right !important;
    float: right;
}

.activitycard {
    border: 1px solid #3e294f;
}

.articlecard {
    background-color: #303030;
    color: #d7d9db;
}

.listmainitem{
    border-bottom: 1px solid #545454;
    background-color: #424242;
    color: #d7d9db !important;
}

.relatedarticleinner{
    border-bottom: 1px solid #d6c7c7;
    background-color: #303030;
    color: #d7d9db;
    padding-bottom: 5px;
}

.magazineposter{
    height: 230px;
    width: 200px;
    filter: grayscale(1);
    --webkit-filter: grayscale(1);
}


.contacttitle {
    color: #d9d9ad;
}

.contactrow{
    background-color: #362a32;
}
.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.spacedtext {
    line-height: 25px;   
}

#infodiv{
    box-sizing: border-box;
    background: #431a10;
    color: #d7d9db;
    box-shadow: 0 1px 2px rgba(28, 28, 22, 0.12), 0 2px 4px rgba(28, 28, 22, 0.24);
}


.requestbtn {
    background-color:  #b3b3b3;
    color: #421e35;
}
.requestbtn:hover{
    color: #b3b3b3;
    background-color:  #66465b;
}

/* #Navigation
================================================== */

.navbar{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand img{
    height: 28px;
    width: auto;
    display: block;
  filter: brightness(10%);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link{
    color: #ffcdd2 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
    color: #ffebee !important;

}
.dropitem{
    color: #ffcdd2;
}
.dropitem:hover{
    color: #ffebee;
    background-color: #2b1511;
}
.nav-item.active .nav-link{
     color: #8595a6 !important;
     padding-top: 10px;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #364957;
    opacity: 0;
    transition: all 200ms linear;

}
.nav-item:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after{
    opacity: 0;
}
.nav-item{
    position: relative;
    transition: all 200ms linear;
}


.widgetcontainer {
  position: relative;
  height: 230px;
  width: 200px;
}

.widgetimage {
  display: block;
  height: 200px;
  width: 200px;
   filter: grayscale(1);
    --webkit-filter: grayscale(1);
}

.widgetoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #823e42;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.5;
}

.widgetcontainer:hover .widgetoverlay {
  height: 100%;
}

.widgettext {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.widgetcaption{
    background-color: #630d12;
    color: #FFFFFF;
    padding-bottom: 5px;
}