
@font-face {
	font-family: 'Manjari';
	src: url('subset-Manjari-Regular.eot');
	src: url('subset-Manjari-Regular.eot?#iefix') format('embedded-opentype'),
		url('subset-Manjari-Regular.woff2') format('woff2'),
		url('subset-Manjari-Regular.woff') format('woff'),
		url('subset-Manjari-Regular.ttf') format('truetype'),
		url('subset-Manjari-Regular.svg#Manjari-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.malfont{
font-family: 'Manjari';
}

.malfont-18{
font-family: 'Manjari';
font-size:18px;}

.malfont-16{
font-family: 'Manjari';
font-size:16px;}

.malfont-14{
font-family: 'Manjari';
font-size:14px;}


.articlebrief{
	font-size: 1.2rem !important;
	text-align: justify;
    text-justify: inter-word;
}

.home-product-list .list-title {
	position: relative;
	margin-bottom: 24px;
	padding-bottom: 12px;
	border-bottom: 1px solid #e5e5e5;
	color: #232323;
	font-size: 20px;
	font-weight: 600
}

.home-product-list .single-list .list-info h3 a {
	font-size: 18px;
	font-weight: 500;
	color: #5D6DBF
}

.shortintro{
	font-size: 1.1rem !important;
	text-align: justify;
    text-justify: inter-word;
}

.dailyalert{
	font-size: 20px;
}

.dailalertts{
	color:#333333;
	font-weight: 400;
	} 
.text-justify-break-all{
	word-break: break-all;
}
